@font-face {
    font-family: SkyhookMonoBold;
    src: url("../fonts/SkyhookMono_bold.ttf");
}

@font-face {
    font-family: Introdução;
    src: url("../fonts/Fontfabric-Intro-Black-Caps.otf");
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 16px;
}

.container {
	padding: 0px 40px;
	height: 100vh;
}

.titles {
	font-family: "Introdução", sans-serif;
	font-size: 2.25rem;
	letter-spacing: 2px;
}

/*  Header  */

.header {
	position: fixed;
	z-index: 3;
}

.header .container {
	padding: 25px 40px 0px 40px;
	width: 100vw;
}

.header-menu {
	display: flex;
	flex-direction: column;
}

.menu-logo {
	width: 300px;
}

.menu-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.menu-list {
	display: flex;
	justify-content: space-between;
	width: 50%;
	padding: 0px;
}

.menu-item {
	font-family: 'SkyhookMonoBold', sans-serif;
	font-size: 16px;
	list-style: none;
	background-color: white;
	border: solid 1px;
	border-color: rgba(255, 221, 0, 1);
	padding: 7px 10px;
	margin: 0px 8px;
}

.header-imgs {
	display: none;
	flex-direction: column;
	align-content: center;
	align-self: flex-end;
}

.img-item {
	width: 40px;
}


/*  Home  */

.home .container {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	height: 90vh;
}

.home-text {
	align-self: flex-start;
	font-family: "SkyhookMonoBold";
	font-size: 22px;
	line-height: 38px;
	width: 55%;
	height: 40vh;
}

.home-span {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-size: 11px;
	line-height: 14px;
}


/*  Deeper  */

.deeper {
	background-image: url("../img/Mergulho-Cinza-sem_texto.jpg");
	background-size: cover;
	height: 100vh;
}

.deeper .container {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-between;
	align-items: flex-end;
	height: 100%;
	padding-bottom: 40px
}

.deeper-title {
	font-family: "Introdução", sans-serif;
	font-size: 3.75rem;
	color: rgba(255, 221, 0, 1);
	text-shadow: rgba(255, 221, 0, 0.23),5px 3px;
	padding: 0px;
	margin: 0px;
}

.deeper-text {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.125rem;
	line-height: 32px;
	width: 350px
}


/*  Deep-Digital  */

.deep-degital {
	height: 110vh
}

.deep-degital .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding-top: 40px;
}

.deep-degital-title {
	align-self: flex-start;
}

.deep-degital-box {
	width: 46vw;
	margin-top:  
}

.deep-degital-text {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5rem;
}

.deep-degital-span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.125rem;
	color: rgba(255, 0, 112, 1);
}

.deep-degital-link {
	color: rgba(255, 0, 112, 1);
}


/*  Valor  */

.valor {
	height: 110vh
}

.valor .container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	align-items: center;
	padding-top: 40px;
	min-height: 100vh;

}

.valor-title {
	align-self: flex-start;
}

.valor-box {
	width: 46vw;
	margin-top:  
}

.valor-text {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.5rem;
}

.valor-span {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1.125rem;
	color: rgba(255, 0, 112, 1);
}

.valor-link {
	color: rgba(255, 0, 112, 1);
}

.valor-img {
	width: 100px
}


/*  Services  */

.services {
	padding-top: 10vh;
	height: 100vh;
}

.services .container {
	padding: 0px;
}

.services-title {
	padding-left: 40px
}

.services-list {
	display: flex;
	flex-flow: row nowrap;
}

.services-box {
	display: flex;
	flex-direction: column;
	background-color: rgba(240, 240, 240, 1);
	border: solid 1px;
	border-color: rgb(216, 216, 216);
	width: 25%;
	min-height: 50vh;
	max-height: 60vh;
	margin: 0px;
	padding: 40px;
}

.services-box:hover {
	background-color: rgba(217, 217, 217, 1);
}

.services-box-title {
	font-family: "Introdução", sans-serif;
	font-size: 20px;
	letter-spacing: 1px;
}

.services-box-text {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;
	width: 60%;
	font-weight: 700;
}

.services-box-img {
	width: 35%;
}


/*  Methods  */

.methods .container {
	display: flex;
	height: 70vh;
}

.methods-title {
	margin: 12px;	
}

.methods-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 55%;
	margin: 0px 29% 0px 12%;
}

.methods-item {
	display: flex;
	align-items: center;
}

.methods-item-descripion {
	width: 70%;
}

.methods-item-img {
	width: 100px;
}

.item-description-title {
	font-family: "Introdução", sans-serif;
	font-size: 1rem;
}

.item-description-text {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1rem;

}


/*  Contact  */

.contact {
	background-color: rgba(255, 221, 0, 1);
	position: relative;
	z-index: 2;
	overflow: hidden;
}

.contact .container {
	display: flex;
	padding-top: 10vh;
}

.contact-title {
	padding-top: 8%;
}

.contact-box {
 align-self: center;
}

.left-hand {
	position: absolute;
	transform: rotate(20deg);
	bottom: 10px;
	left: -55px;
	width: 430px;
	z-index: 1;
} 

.right-hand {
	position: absolute;
	width: 500px;
	transform: rotate(20deg);
	top: 10px;
	right: -40px;
	z-index: 1;

}